.nested_fields
  = f.input :user_id, as: :select, collection: User.all - [current_user], label_method: :email
  = f.input :role, label: 'Rol', as: :select, collection: Participant.roles, value_method: -> (r) { r[0] }